body{
	background-color:#CCC;
}

header{
	display: block;
	background-color: #D35627;
	color: #FFF;	
	padding: 10px 0px 10px 0px; 
	border-bottom: 5px solid #E76C3C;
}

h1, h2, h3, h4, h5, small {
	font-family: 'Oxygen', sans-serif;
}

dd{ 
	color: #555;
}
header small{
	color: #efa588;
}

#start { 
	background-color: #FFF;
	padding: 20px 0px 20px 0px; 
	color: #777;
	border-bottom: 5px solid #BBB;
}

#example1 {
	border-bottom: 5px solid #DDD;
}
	#example1 .grid-body{ 
		min-height: 275px;
		max-height: 275px;
	}

#example2 {
	background-color: #FFF;
	border-bottom: 5px solid #BBB;
}

	#example2 .grid-container{
		border: 1px solid #DFDFDF;
	}

#example3{
	border-bottom: 5px solid #DDD;
}

#properties{
	background-color: #FFF;
}

	#properties dl{
		margin-top: 18px;
	}

	#properties dt{
		float:left; 
		width: 160px; 
	}

	#properties dd{
		margin-bottom: 18px;
		margin-left:160px;
		border-bottom: 1px solid #EDEDED;
	}

	#properties dd:after{
		display: table;
		content: "";
		clear: both;
	}

.griddle thead{
	background-color: #EDEDED;
}
.griddle .grid-footer{
	background-color: #EDEDED;
	border-top:1px solid #ddd;
}

/* duplicate to griddle center but this is mostly for the demo page*/
.center{
	text-align: center;
}

.highlight{
	background-color: #EDEDED;
	padding:3px;
}

.columnSelector{
	border: 1px solid #CCC;
}
