body{
	background-color:#CCC;
}

header{
	display: block;
	background-color: #D35627;
	color: #FFF;	
	padding: 10px 0px 10px 0px; 
	border-bottom: 5px solid #E76C3C;
}

h1, h2, h3, h4, h5, small {
	font-family: 'Oxygen', sans-serif;
}

dd{ 
	color: #555;
}
header small{
	color: #efa588;
}

header .btn-group{
	float:right; 
	margin-top:15px;
}

	header .btn-group a{
		padding-top: 15px;
		padding-bottom: 15px;
	}

#start { 
	background-color: #FFF;
	padding: 20px 0px 20px 0px; 
	color: #777;
	border-bottom: 5px solid #BBB;
}

#example1 {
	border-bottom: 5px solid #DDD;
}
	#example1 .grid-body{ 
		min-height: 270px;
	}

#example2 {
	background-color: #FFF;
	border-bottom: 5px solid #BBB;
}

	#example2 .grid-container, #start .grid-container, #example4 .grid-container{
		border: 1px solid #DFDFDF;
	}



#example3{
	border-bottom: 5px solid #DDD;
}

#example4{
	background-color: #FFF;
	border-bottom: 5px solid #BBB;
}

#example4 .grid-body{ 
		min-height: 270px;
	}

#example6{
	background-color: #FFF;
	border-bottom: 5px solid #BBB;
}

.grid-body .loading{
	background-image: url('../images/loading.gif'); /* Thanks 'http://preloaders.net'! */
	background-repeat: no-repeat;
	min-height: 32px;
	width: 32px;
	margin-top: 83px;
}

#properties{
	border-bottom: 5px solid #DDD;
}

	#properties dl{
		margin-top: 18px;
	}

	#properties dt{
		float:left; 
		width: 160px; 
	}

	#properties dd{
		margin-bottom: 18px;
		margin-left:160px;
		border-bottom: 1px solid #EDEDED;
	}

	#properties dd:after{
		display: table;
		content: "";
		clear: both;
	}

.griddle-custom{ 
	background-color: #FFF;
	padding: 5px 5px 0px 5px;
	border-radius: 5px;
}

#customdata .griddle.griddle-custom{
	margin-top: 0px;
}

#customdata .griddle-custom .grid-footer{
	background:none; 
}

.griddle thead{
	background-color: #EDEDED;
}
.griddle .grid-footer{
	background-color: #EDEDED;
	border-top:1px solid #ddd;
}

/* duplicate to griddle center but this is mostly for the demo page*/
.center{
	text-align: center;
}

.highlight{
	background-color: #EDEDED;
	padding:3px;
}

.griddle-settings{
	border: 1px solid #CCC;
}

.griddle-settings label{
	font-weight: 400;
}

.btn.view{
	width:100%;
}

.custom-component{
	padding:5px 10px 5px 10px;
	height:100px;
}

.custom-component h4{
	margin-top:0px;
}

.properties-name{
	width: 300px; 
	font-weight: bold;
}

footer{ 
	padding:10px;
	background-color: #939393;	
}

footer a, footer a:visited{	
	color: #555;
	text-decoration: underline;
}

.custom-pager {
	line-height: 32px;
	vertical-align: middle;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-pager .pages button {
	width: 30px;
	height: 32px;
}

.custom-pager .current-page-selected {
	font-weight: bold;
}

@media(max-width: 992px){
	header .btn-group{display:none;}
	header small{display:none;}
}
