.griddle {
	margin: 20px;
}

	/* Avoid highlighting things when clicking on things like next / previous
	   but still allow text from table body to be selected. */ 
	   
	.griddle, .griddle *{
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.griddle tbody *{
		-webkit-touch-callout: text;
		-webkit-user-select: text;
		-khtml-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}

	.griddle .columnSelector{
		padding: 10px 10px 0px 10px;
		margin: 0px 0px 10px 0px;
	}

		/* http://nicolasgallagher.com/micro-clearfix-hack/ */
		.griddle .columnSelector:before, .griddle .columnSelector:after{
			content: " "; 
			display: table;
		}

		.griddle .columnSelector:after{
			clear: both;
		}

		.griddle .columnSelector .column{
			width: 160px;
			float:left;
			margin-top:0px;
		}

	.griddle .filter-container{
		margin-bottom: 10px;
	}

	.griddle .grid-footer{
		padding: 10px 20px 10px 20px;
	}

		.griddle .grid-footer .glyphicon{
			font-size: 12px; 
			margin: 0px 5px 0px 5px;
		}

	.griddle .next, .griddle .previous{
		cursor: pointer;
	}
.griddle .right{
	text-align: right;
}

.griddle .center{
	text-align: center;
}



