{
  "env": {
    "development": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    },
    "build": {
      "plugins": ["lodash", "@babel/plugin-proposal-class-properties"],
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "ignore": ["**/__tests__/*.js", "**/fake-*"]
    }
  }
}
