{
  "env": {
    "development": {
      "presets": ["es2015", "stage-0", "react"]
    },
    "build": {
      "presets": ["es2015", "stage-0", "react"],
      "ignore": [
        "**/__tests__/*.js",
        "**/fake-*"
      ]
    }

  }
}
