{
    "rules": {
        "indent": [ 2, 2 ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "globals": {
      "require": false,
      "it": false,
      "describe": false,
      "module": false,
      "jest": false,
      "expect": false,
      "beforeEach": false,
      "spyOn": false
    },
    "plugins": [
        "react"
    ]
}
