<html>
	<head>
		<title>Griddle - React grid component</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
		<link href="css/griddle.css" rel="stylesheet" />
		<link href="css/example.theme.css" rel="stylesheet" />
		<link href='//fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/JSXTransformer.js"></script>
		<script type="text/javascript" src="build/griddle.js"></script>
	</head>
	<body>
		<%=content%> 
	</body>
</html>