<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Griddle - React Grid Component</title>
	<meta name="description" content="Griddle - React Grid component. ">
	<meta name="author" content="Ryan Lanciaux">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="styles/normalize.css">
	<link rel="stylesheet" href="styles/skeleton.css">
	<link rel="stylesheet" href="styles/site.css">
	<link rel="stylesheet" href="css/chartist.css">
	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png" />

	<!-- Scripts
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/JSXTransformer.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="scripts/Griddle.js"></script>
	<script src="scripts/GriddleWithCallback.js"></script>
	<script src="scripts/fakeData.js"></script>
	<script src="scripts/ChartistGraph.js"></script>
</head>
<body id="docs-page">
	<header class="background-primary-dark border-bottom border-secondary">
		<div class="container">
			<div class="twelve columns right">
				<iframe src="http://ghbtns.com/github-btn.html?user=DynamicTyped&repo=Griddle&type=watch&count=true"
				allowtransparency="true" frameborder="0" scrolling="0" width="90" height="20"></iframe>
				<iframe src="http://ghbtns.com/github-btn.html?user=DynamicTyped&repo=Griddle&type=fork&count=true"
				allowtransparency="true" frameborder="0" scrolling="0" width="90" height="20"></iframe>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="four columns">
					<a href="/"><img src="images/griddle.png" alt="Griddle"/></a>
				</div>
			</div>
		</div>
	</header>
	<div class="container page-content">
		<div class="row">
			<div class="two columns">
				<nav class="side">
					<ul>
						<li><a href="customization.html">Customization</a></li>
						<li><a href="externalData.html">External Data</a></li>
						<li><a href="infiniteScroll.html">Infinite Scrolling</a></li>
						<li><a href="nodata.html">Configuring No Data</a></li>
						<li><a href="styling.html">Styling</a></li>
						<li><a href="subgrids.html">Subgrids</a></li>
					</ul>
				</nav>
			</div>
			<div class="ten columns docs">
				<%=content%>
			</div>
		</div>
	</div>

</body>
</html>
